.otherNoteworthyProjects {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    text-align: center;
    width: 100%;
    align-items: center;



    h1 {
        font-size: 1.875em;

    }

    .cardContainer {
        display: grid;
        grid-template-areas: ". . .";

        grid-gap: 15px;
        gap: 30px;
        grid-template-columns: repeat(3, 32%);
        grid-template-rows: repeat(2, 300px);
        height: -webkit-max-content;
        height: max-content;
        justify-content: space-around;
        margin-top: 6%;
        text-align: left;
        width: 60%;
        // background-color: red;







        .cardContainer:nth-child(2) {
            transition-delay: .2s;
        }

        #card {
            background-color: #182848;
            border-radius: 5px;
            height: 100%;
            padding: 15px;
            margin: 0 auto;
            width: 100%;




            .container {
                display: flex;
                flex-direction: column;
                height: max-content;
                background-color: transparent;
                margin-top: 10px;
                width: auto;


                .upperPart {
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    height: -webkit-max-content;
                    height: max-content;

                    .cardIcon {
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        height: 45px;
                        object-fit: cover;
                        width: 34px;
                        height: max-content;

                    }
                }


                .cardDetailContainer {
                    display: flex;
                    flex-direction: column;
                    height: -webkit-max-content;
                    height: max-content;
                    height: 100%;
                    padding-top: 10px;
                }

                .projectName {
                    color: #fff;
                    cursor: pointer;
                    font-size: 1.25em;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin: 10px 0;
                    text-decoration: none;
                }

                .projectDesc {
                    color: hsla(0, 0%, 100%, .545);
                    font-size: 1em;
                    font-weight: 500;
                    min-height: 120px;
                    overflow: hidden;
                    overflow-y: auto;
                    scroll-behavior: smooth;
                    text-align: left;
                }

                .techContainer {
                    display: block;
                    text-align: left;
                    overflow: hidden;
                    width: 100%;
                    height: -webkit-max-content;
                    height: max-content;



                    .techUsed {
                        color: hsla(0, 0%, 100%, .345);
                        font-size: 0.875em;
                        font-weight: 550;
                        padding: 4px;
                    }
                }
            }
        }

        #card:hover {
            box-shadow: 0 0 20px 4px #89bcfe84;
            transition: 0.2s;
        }




        .linkIcon {
            cursor: pointer;
            height: 24px;
            margin: 0 7px;
            width: 24px;
        }
    }
}

@media screen and (max-width: 770px) {
    .otherNoteworthyProjects {
        .otherTitle {
            font-size: 1.5rem;
        }

        #cardContainerRes {
            display: flex;
            flex-direction: column;
            // grid-template-columns: repeat(2, 200px);
            // grid-template-rows: repeat(2, 10);
            // // align-items: flex-start;

            #card {
                width: 50%;
                /* Each card should take up 100% of the grid cell */
                margin: 0 auto;
                /* Center the card within the grid cell */
            }
        }
    }
}