.mainContainer {

    align-items: center;
    background-color: linear-gradient(180deg, #13131a 0, #182848);
    display: flex;
  
    padding: 10% 15%;
    width: 100%;
  margin: auto 0%;
    z-index: 100;
    


    .gifContainer{
        z-index: 10;
    }




    .nameContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 10;

        .title {
            letter-spacing: 2px;
            color: #89bbfe;
            font-size: 1em;
        }

        .name {
            font-weight: 600;
            color: #fed;
            font-size: 70px;
            margin: 15px 0;
            width: 100%;
            letter-spacing: 2px;
        }

        .subtitle {
            color: #bae6ff;
            font-size: 54px;
            letter-spacing: 1px;
            font-weight: 600;
        }

        .personal-info {
            color: hsla(0, 0, 78%, .68);
            font-size: 1.125em;
            line-height: 25px;
            margin-top: 30px;
            max-width: 550px;
            text-align: left;
        }

        .viewWork {
            background-color: transparent;
            border: 1px solid #89bbfe;
            border-radius: 10px;
            color: #89bbfe;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            font-size: 1.125em;
            justify-content: space-around;
            margin-top: 50px;
            padding: 15px 30px;
            text-decoration: none;
            width: max-content;
        }

        .viewWork:hover{
            background-color:  rgba(137, 188, 254, 0.1);
            opacity: 0.1;
            color: #FFF;
        }
    }


    .main-img {
        cursor: none;
        height: 27rem;
        object-fit: cover;
        width: 27rem;
    }


    
}