.skillsSection {
  align-items: center;
  display: flex;
  height: max-content;
  width: 100%;
  padding: 5% 15%;
  width: 100%;
  justify-content: center;
  min-height: 100vh;




  .scContainer {
    width: 100%;
  padding-left: 10%;


    .titleContainer {
      align-items: center;
      display: flex;
      padding-bottom: 30px;
      width: 100%;



      .tabNames {
        color: #fed;
        font-size: 1.875em;
        font-weight: 600;
        letter-spacing: 2px;
        margin-right: 10px;
        align-items: center;
        display: flex;
        
        span {
          color: #89bbfe;
          font-size: 1.438em;
          margin-right: 10px;
        }
      }

      .titleHrLine {
        background-color: w#003b5d;;
        height: 1px;
        width: 30%;
      }

    }


    .skillCard {
      align-items: center;
      background-color: #1d222d79;
      border-radius: 10px;
      display: flex;
      font-size: 1.125em;
      justify-content: space-between;
      margin-top: 10px;
      padding: 15px;
      width: 80%;

      ////////////////////////new changes in card///



      backdrop-filter: blur(16px) saturate(180%);
      -webkit-backdrop-filter: blur(16px) saturate(180%);
      background-color: rgba(17, 25, 40, 0.75);
      border-radius: 12px;
      // border: 1px solid rgba(255, 255, 255, 0.125);
      .skillName {
        min-width: 13%;
      }



      .indicatorContainer {
        padding: 0 12%;
        width: 80%;

        .indicator {
          border-radius: 5px;
          height: 10px;
          width: 100%;
          background-color: #313131;
        }

      }
    }

  }

}