.navbar {
    backdrop-filter: blur(7px);
    background-color: #0d0d10b2;
    // background-image: linear-gradient(#13131ae3, rgba(0, 0, 0, 0.474));
    display: flex;
    // height: 80px;
    justify-content: space-between;
    // padding: 20px 40px;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000 !important;






    .leftLogo {
        color: white;
        margin: 0.5rem 1.5rem;
        cursor: pointer;
        width: max-content;
        font-family: 'Satisfy', cursive;
        font-size: 32px;
        text-decoration: none;

        a {
            text-decoration: none;
        }




    }

    .rightNav {

        margin: 1rem 1rem;
        display: flex;
        flex-direction: row;
        align-items: center; // align the items vertically to center


        ul {

            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            list-style-type: none; // remove the default bullet points
        }

        li {
            margin: 0rem 1rem; // add some spacing between the items

        }

        a {
            color: white;

            text-decoration: none;

            font-size: 0.875em;

            .about:hover {
                color: rgb(137, 187, 254);
            }

            .projects:hover {

                color: rgb(137, 187, 254);
            }

            .skills:hover {
                color: rgb(137, 187, 254);
            }

            .education:hover {
                color: rgb(137, 187, 254);
            }


            .contact:hover {
                color: #89bbfe;
            }
            .resume:hover {
                color: #89bbfe;
            }



            .nums {
                color: #89bbfe;
            }
        }






    }





    .animate__animated.animate__backInDown {
        --animate-delay: 5s;
    }

    .pyramid {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    .toggleBtn{
        display: none;
    }

}

@media screen and (max-width: 770px) {
    .navbar {
        display: flex;
        flex-direction: row;
        height: -webkit-max-content;
        height: max-content;
        padding: 15px;
        position: sticky;
        top: 0;
        width: 100%;

        .leftLogo{
            margin: 0;
            font-size: 30px;
            // margin-left: 5px;
        }

        .toggleBtn {
            background-color: transparent;
            border: 0;
            display: block;
        }
        .rightNav{
            display: none;
        }
    }
}

@media screen and (max-width: 1050px) {
    .navbar {
        width: 100vw;
    }
}