@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
    padding: 0;
  


}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}


#blob {
    background-color: white;
    height: 25vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 70%;
    background: linear-gradient(to right, #f08dff, #088cd9);
    animation: rotate 5s linear infinite;
    opacity: 0.8;
    z-index: -1;
    backdrop-filter: blur(12vmax);
    left: -9999px;
    top: -9999px;


}




/* Track */
::-webkit-scrollbar-track {
    background: #13131a7a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #89bbfe;
    width: 24px;

    border: 5px solid #89bbfe;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #89bbfe;
}

::-webkit-scrollbar {
    width: 10px;
    height: 50%;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
}



.firstBlur {
    position: fixed;
    backdrop-filter: blur(5px) !important;

}


